<!doctype html>
<html lang="en">

{% include https://raw.githubusercontent.com/unicatin/unicatin.github.io/master/_includes/head.html %}

<body>

	<!--================ Start Header Area =================-->
{% include https://raw.githubusercontent.com/unicatin/unicatin.github.io/master/_includes/header.html %}
	<!--================ End Header Area =================-->
  
  {{ content }}
  
  	<!--================Footer Area =================-->
{% include https://raw.githubusercontent.com/unicatin/unicatin.github.io/master/_includes/footer.html %}
	<!--================End Footer Area =================-->

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
{% include https://raw.githubusercontent.com/unicatin/unicatin.github.io/master/_includes/scripts.html %}
</body>

</html>
